{% extends 'base.html' %}
{% block title %} Products {% endblock %}
{% block body %}
<style>
		.table .thead-dark th {
  color: #fff;
  background-color: #620000;
  border-color: #FF8888;
}
</style>
	<!-- <button onclick=" doCsv()">export to csv</button> -->


<div class="container" id="table">
	{% if product %}
	<button class="btn btn-secondary" style="float:right;"><a href="{% url 'clear_data' %}">clear table</a></button>
	{% endif %}
		<h3>Products</h2>


			<div class="row">
		     <div class="col-md-4"></div>
				{% include 'massage.html' %}
		     <div class="col-md-4"></div>
		   </div>


			<table class="table table-hover" id="mytable">
				<thead class="thead-dark">
					<tr>
						<th>Item</th>
						<th>Category</th>
						<th>Sub Category</th>
						<th>Price(per unit)</th>
            <th>Quantity</th>
						<th>Commision(per unit)</th>
						<th>Shipping cost(per unit)</th>
						<th>Expected Amount</th>
					</tr>
				</thead>
				<tbody>
					{% for p in product %}
					<tr>
						<th scope="row">{{p.item}}</th>
						<td>{{p.category}}</td>
						<td>{{p.sub_category}}</td>
            <td>{{p.price}}</td>
						<td>{{p.quantity}}</td>
						<td>Ksh.{{p.commision}}</td>
						<td>Ksh.{{p.shipping}}</td>
						<td>Ksh.{{p.amount_expected}}</td>


					</tr>

				</tbody>
				{% endfor %}
			</table>
      <button class="btn btn-secondary" style="float:right;color:white;"><a href="{% url 'export_product_csv' %}" style="color:white;">download to csv</a></button>
			{% if product %}
	  <button class="btn btn-secondary" style="float:right;color:white;"><a href="{% url 'export_product_csv' %}">download to csv</a></button>
	  {% endif %}
			<form action="{%url 'new_product'%}">
				<input type="submit" class="btn btn-secondary" value="addProduct" />
			</form>
	</div>
<script>
 function doCsv(){
	 var table=document.getElementById('mytable').innerHTML;
	 var data= table.replace(/<thead>/g, '')
	 .replace(/<\/thead>/g,'')
	 .replace(/<tbody>/g,'')
	 .replace(/<\/tbody>/g,'')
	 .replace(/<tr>/g,'')
	 .replace(/<\/tr>/g,'\r\n')
	 .replace(/<th>/g,'')
	 .replace(/<\/th>/g,';')
	 .replace(/<td>/g,'')
	 .replace(/<\/td>/g,';')
	 .replace(/\t/g, '');
	// alert(table);
	var mylink=document.createElement('a');
	mylink.download='csvname.csv';
	mylink.href='data:producs/csv,'+ escape(data);
	mylink.click();
 }
</script>
{%endblock %}
